.button {
  display: inline-block;
  max-width: 270px;
  padding: 0.5em 1em;

  font-weight: 400;
  font-size: 16px;
  line-height: inherit;
  vertical-align: middle;
  text-align: center;
  color: $color1;
  white-space: normal;
  word-wrap: normal;

  background-color: $color4;


  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    background-color: lighten($color4, 5);
  }

  &:active {
    background-color: darken($color4, 10);
  }
}

.button--large {
  padding: 0.7em 0.875em;

  font-weight: 500;
  font-size: 22px;
}

.button--wide {
  width: 270px;
}

.button--green {
  background-color: #4eb543;
  border-color: #4eb543;
}
