.contacts {
  address {
    font-style: normal;
  }
}

.contacts__address {
  margin-bottom: 10px;

  white-space: nowrap;

  a {
    color: $color3;
  }
}

.contacts__social-list {
  justify-content: space-around;
}
