.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: $font-size--big;
}

// .description__section-inner {
//   flex-grow: 1;
//   padding: 80px 10%;
// }

.description__inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 60px 5%;
}

.description__text-wrapper {
  display: flex;
  flex-grow: 1;
  margin-bottom: 30px;
}

.description__text {
  flex-grow: 2;

  font-size: $font-size--accent;
  line-height: 32px;
}

.description__name {
  font-size: 42px;
  line-height: 40px;
}

.description__speciality {
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;

  font-size: $font-size--big;
}

.description__contact {
  flex-grow: 1;
  margin-top: 40px;
}

.description__social,
.description__consultation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
}

.description__contact-button {
  font-size: $font-size--accent;
}

.description__columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
  padding: 20px 0;
}

.description__photo {
  flex: 1 0 auto;
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: right;
}

.description__experience-list {
  @include list;

  padding: 20px;
  color: $color1;
  line-height: 24px;
  background-color: $color5;
}

@media (min-width: $tablet-width) {
  .description {
    flex-direction: row;
  }

  .description__photo {
    display: block;
    order: 2;
    max-width: 40%;
    height: 640px;
  }

  .description__columns {
    flex-direction: row;
  }

  .description__columns-left {
    margin-right: 8%;
  }
}

@media (min-width: $tablet-lg-width) {
  .description__social,
  .description__consultation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .description__contact {
    width: 80%;
  }
}
