.experience {
  // background-color: $pink--light3;

  // border: 1px solid $clay;
}

.experience__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 40px 5%;
}

.experience__list {
  @include list();

  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .experience__inner {
    flex-direction: row;
  }
}

.experience__cert {
  display: flex;

  img {
    width: 370px;
    height: 531px;
    margin: auto;
  }
}
