.experience {
  // background-color: $pink--light3;

  // border: 1px solid $clay;
}

.experience__list {
  @include list();

  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .experience__inner {
    flex-direction: row;
  }
}

.experience__cert {
  display: flex;

  img {
    max-width: 100%;
    height: 531px;
    margin: auto;
    object-fit: contain;
  }
}
