.main-menu {
  display: flex;
  flex-direction: column;

  @include list();
}

.main-menu__item {
  padding: 10px;

  background-color: $clay;

  border-top: 1px solid $clay--light1;
  border-bottom: 1px solid $clay--dark1;
}

.main-menu__item > a {
  color: #ffffff;
}


@media (min-width: $desktop-width) {
  .main-menu__item {
    padding: 10px 20px;

    background: none;

    border: none;
  }
}
