.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: hsla(21%, 100%, 85%, 0.3);
  color: $color5;

  background-color: $color2;
}

.page-main__inner {
  background-color: white;
}

.page-main__heading {
  text-align: center;
}

.page-main__section {
  width: 100%;
  // max-width: $desktop-lg-width;
  margin: 0 auto;
}

.page-main__photos {
  background-color: $color5;
}

@media (min-width: $tablet-width) {
  .page-main__section {
    max-width: $tablet-lg-width;
  }

  .page-main__photos {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main__section {
    max-width: $desktop-lg-width;
  }
}

