.page-header {
  // padding-right: 10px;
  // padding-left: 10px;

  background-color: darken($color5, 10);
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  // max-width: $desktop-lg-width;
  width: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 20px;

  color: $gray--light3;
}

.page-header__caption-wrapper {
  display: flex;

  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.page-header__caption {
  font-size: $font-size--h2;

  color: $color1;
}

.page-header__logo {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: center;
  margin-right: 5%;

  & svg {
    fill: $gray--light7;
    stroke: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .page-header__inner {
    max-width: $tablet-lg-width;
  }
}

@media (min-width: $desktop-width) {
  .page-header__inner {
    max-width: $desktop-lg-width;
  }
}
