.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: hsla(21%, 100%, 85%, 0.3);
  color: $color5;

  background-color: $color2;
}

.page-main__inner {
  background-color: white;
}

.page-main__heading {
  margin: 0 0 30px 0;
}

.page-main__section-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 40px 5%;
}

.page-main__section {
  width: 100%;
  // max-width: $desktop-lg-width;
  margin: 0 auto;
}

@media (min-width: $mobile-width) {
  .page-main__section {
    max-width: $mobile-lg-width;
  }
}

@media (min-width: $tablet-width) {
  .page-main__section {
    max-width: $tablet-lg-width;
  }
}

@media (min-width: $desktop-lg-width) {
  .page-main__section {
    min-width: $desktop-lg-width;
  }

  // .page-main__section {
  //   max-width: $desktop-lg-width;
  // }
}

