.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $clay;
}

.page-main__description {
  width: 100%;

  padding: 5%;
  // max-width: $desktop-lg-width;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .page-main__description {
    max-width: $tablet-lg-width;
  }
}

@media (min-width: $desktop-width) {
  .page-main__description {
    max-width: $desktop-lg-width;
  }
}

