/* Coolors Exported Palette - coolors.co/fe938c-e6b89c-ead2ac-9cafb7-4281a4 */

/* HSL */
$color1: hsla(4%, 98%, 77%, 1);
$color2: hsla(23%, 60%, 76%, 1);
$color3: hsla(37%, 60%, 80%, 1);
$color4: hsla(198%, 16%, 66%, 1);
$color5: hsla(201%, 43%, 45%, 1);

/* RGB */
// $color1: rgba(254, 147, 140, 1);
// $color2: rgba(230, 184, 156, 1);
// $color3: rgba(234, 210, 172, 1);
// $color4: rgba(156, 175, 183, 1);
// $color5: rgba(66, 129, 164, 1);
