/* Coolors Exported Palette - coolors.co/ffcdb2-ffb4a2-e5989b-b5838d-6d6875 */

/* HSL */
// $color1: hsla(21%, 100%, 85%, 1);
// $color2: hsla(12%, 100%, 82%, 1);
// $color3: hsla(358%, 60%, 75%, 1);
// $color4: hsla(348%, 25%, 61%, 1);
// $color5: hsla(263%, 6%, 43%, 1);

/* RGB */
// $color1: rgba(255, 205, 178, 1);
// $color2: rgba(255, 180, 162, 1);
// $color3: rgba(229, 152, 155, 1);
// $color4: rgba(181, 131, 141, 1);
// $color5: rgba(109, 104, 117, 1);


$color1: hsl(0, 25%, 98%);
$color2: hsl(228%, 3%, 67%);
$color3: hsl(27%, 31%, 55%);
$color4: hsl(13%, 65%, 52%);
$color5: hsl(258%, 22%, 25%);
