$font-size: 16px;
$line-height: 1.375em; /* 16/22 */

$font--main: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font--mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
$font-size--big: 1.143em;
$font-size--accent: 1.286em;
$font-size--small: 0.857em;
$font-size--extrasmall: 0.714em;
$font-size--h1: 32px;
$font-size--h2: 26px;
$font-size--h3: 20px;
$font-size--h4: 20px;
$font-size--h5: 18px;

$mobile-width: 375px;
$mobile-lg-width: 426px;
$tablet-width: 768px;
$tablet-lg-width: 950px;
$desktop-width: 1050px;
$desktop-lg-width: 1200px;

$bg-color: aliceblue;

/* цвета */

$text-color: #333333;
$screen-green: #13f813;

$blue--light14: #4f72c9;
$blue--light13: #3a9bdd;
$blue--light12: #218dd6;
$blue--light11: #00e2b5;
$blue--light10: #59acd0;
$blue--light9: #75ccf1;
$blue--light8: #3557ab;
$blue--light7: #3771a7;
$blue--light6: #486abe;
$blue--light5: #4887c2;
$blue--light4: #e7e5f4;
$blue--light3: #d8d7e4;
$blue--light2: #3f3ccb;
$blue--light1: #2e2c9c;
$blue: #302683;
$blue--dark1: #6c6c7c;
$blue--dark2: #524a89;
$blue--dark3: #454778;
$blue--dark4: #3e3e56;
$blue--dark5: #2d2d44;
$blue--dark6: #1a1f32;
$blue--dark7: #0d1535;
$blue--dark8: #18213f;
$blue--dark9: #323763;
$blue--dark10: #303b40;
$blue--dark11: #231d5b;

$purple--light3: #a49aff;
$purple--light2: #5a4dc6;
$purple--light1: #3d376e;
$purple: #37238b;
$purple--dark1: #6439b7;

$yellow--light4: #ffffcc;
$yellow--light3: #fff475;
$yellow--light2: #ffe354;
$yellow--light1: #f1dc38;
$yellow: #f7cf00;
$yellow--dark1: #e4c212;
$yellow--dark2: #f9b326;
$yellow--dark3: #ffa300;

$red--light1: #fdf2f2;
$red: #d40101;

$green--light7: #a9d9a2;
$green--light6: #75ef68;
$green--light5: #16c178;
$green--light4: #00f899;
$green--light3: #55ab55;
$green--light2: #f3faf2;
$green--light1: #57c74b;
$green: #4eb543;
$green--dark1: #48a83d;
$green--dark2: #2c933a;
$green--dark3: #41ae2d;

$orange--light2: #ffa200;
$orange--light1: #ff6f40;
$orange: #e84e1b;
$orange--dark1: #cb4417;
$orange--dark2: #e94e1b;
$orange--dark3: #f16537;
$orange--dark4: #d34617;

$gray--light8: #5e5c6a;
$gray--light7: #87838f;
$gray--light6: #f7f7f9;
$gray--light5: #cecece;
$gray--light4: #f8f8f8;
$gray--light3: #f2f2f2;
$gray--light2: #e8e8e8;
$gray--light1: #d5d5d5;
$gray: #cccccc;
$gray--dark1: #a0a0a0;
$gray--dark2: #aaaaaa;
$gray--dark3: #9696a2;
$gray--dark4: #808080;
$gray--dark5: #636363;
$gray--dark6: #35362d;
$gray--dark7: #262822;
$gray--dark8: #21252c;
$gray--dark9: #1c1d30;
$gray--dark10: #1e1e1b;
$gray--dark11: #8f8f9b;
$gray--dark12: #414157;
$gray--dark13: #272822;

$orange: #dfa753;

$yellow: #c2ae8f;
$yellow--light1: lighten($yellow, 5%);
$yellow--light2: lighten($yellow, 10%);
$yellow--dark1: darken($yellow, 5%);
$yellow--dark2: darken($yellow, 10%);

$gray: #838383;

// $gray: #bfbfbf;

$black: #222222;

$clay: #3d3c40;
$clay--light1: lighten($clay, 5%);
$clay--light2: lighten($clay, 10%);
$clay--light10: lighten($clay, 50%);
$clay--dark1: darken($clay, 5%);
$clay--dark2: darken($clay, 10%);

$pink: #d6c1d9;
$pink--light1: lighten($pink, 5%);
$pink--light2: lighten($pink, 10%);
$pink--light3: lighten($pink, 15%);
